<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Student Registration</title>
</head>
<body>
    <header>
        <h1>Student Registration System</h1>
        <nav>
            <ul >
                <li ><a style="color: black;" href="{{ url_for('index') }}">Home</a></li>
                <li><a style="color: black;" href="{{ url_for('list_students') }}">View Students</a></li>
            </ul>
        </nav>
    </header>

    <div style="align-items: center;">
        <h2>Add Student</h2>
        <form action="{{ url_for('add_student') }}" method="POST">
            <input type="text" name="name" placeholder="Name" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="number" name="age" placeholder="Age" required>
            <input type="date" name="date_of_birth" required>
            <button type="submit">Add Student</button>
        </form>        
    </div>


    
</body>
</html>
